
/data/NorKyst-800m.nc
/module/__pycache__/*.pyc
.venv
data/NorKyst-800m.nc
data/NorKyst-800m.nc
/data
module/__pycache__/trajectory.cpython-311.pyc
/module/__pycache__
*.nc
data/NorKyst-800m.nc
data/NorKyst-800m.nc
/data
*.nc
